.dashboard .cart-list:hover {
    .people-icon {
        color: #fff;
        background-color: rgb(0, 175, 228);
        // padding: 15px;
        border-radius: 3px;
    }border-radius: 3px;
    
    cursor: pointer;
    transition: all .3s ease-in;
}
.dashboard .check-citizen:hover {
    .person-check {
        color: #fff;
        background-color: rgb(0, 228, 152);
        // padding: 15px;
        border-radius: 3px;
    }
    cursor: pointer;
    transition: all .3s ease-in;
}